.C--text-editor.type--1 {
    display: block;
    position: relative;
    .block--default {
        display: block;
        position: relative;
        margin: 0 0 32px;
        code {
            margin: 0 2px;
            padding: 2px 4px;
            background: #f5f5f5;
            @include border-radius(2px);
        }
    }
    .block--container {
        display: block;
        position: relative;
        margin: auto;
        max-width: 680px;
        .block__transform {
            display: block;
            position: relative;
        }
        &.-carousel {
            max-width: $container--width;
        }
        &.-fullscreen {
            max-width: 100%;
        }
        @media (max-width: 680px + 32) {
            padding: 0 16px;
            &.-carousel,
            &.-fullscreen {
                padding: 0;
            }
        }
    }

    /* placeholder: text */
    .text-editor--placeholder {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 0;
        .placeholder__container {
            display: block;
            margin: auto;
            max-width: 680px;
            @media (max-width: 680px + 32) {
                padding: 0 16px;
            }
        }
        .placeholder__text {
            display: block;
            position: relative;
            margin: 0 0 32px;
            font-size: 3.4rem;
            font-weight: normal;
            color: #bababa;
            line-height: 1.5;
        }
    }

    /* toolbar */
    .text-editor--toolbar {
        display: block;
        position: absolute;
        top: 0;
        z-index: 10;
        .toolbar--block {
            display: block;
            position: relative;
            &.-is-default {
                width: 32px;
                height: 32px;
            }
            .block__label {
                display: block;
                padding: 12px 16px;
                font-size: 1.45rem;
                @include border('right');
            }
            .block__button {
                display: block;
                margin: 0;
                padding: 0;
                width: 32px;
                height: 32px;
                background: #fff;
                outline: 0;
                border: 1px solid $text--color;
                @include border-radius(40px);
                -webkit-transition: transform .3s;
                transition: transform .3s;
                .material-icons {
                    display: block;
                    margin: auto;
                    font-size: 18px;
                }
                &.-rotate {
                    -ms-transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
            .block__button-list {
                display: block;
                position: absolute;
                top: 0;
                left: 56px;
                bottom: 0;
                z-index: 1;
                white-space: nowrap;
                .block__button {
                    display: inline-block;
                    margin-right: 8px;
                }
            }
            .button--open-toolbar {
                position: relative;
                z-index: 2;
            }
            .block__input-link {
                right: auto;
                left: 56px;
                z-index: 2;
                width: 680px;
                .link__textbox {
                    display: block;
                    height: 32px;
                    width: 100%;
                    font-family: 'Open Sans', sans-serif;
                    border: 0;
                    outline: 0;
                    background: #fff;
                }
            }
        }
        .toolbar--inline {
            display: block;
            position: relative;
            .inline__content {
                display: inline-block;
                position: relative;
                padding: 4px 8px;
                font-size: 0;
                line-height: 0;
                color: transparent;
                white-space: nowrap;
                background: #333;
                @include border-radius(4px);
                &:after {
                    display: block;
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    z-index: 1;
                    content: '';
                    margin-left: -8px;
                    width: 0;
                    height: 0;
                    border: 8px solid;
                    border-top-color: #333;
                }
                .inline__button {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0;
                    padding: 6px 0;
                    width: 30px;
                    text-align: center;
                    cursor: pointer;
                    border: 0;
                    outline: 0;
                    background: none;
                    .material-icons {
                        display: block;
                        font-size: 18px;
                        color: #fff;
                        line-height: 1;
                    }
                    &.-is-active {
                        .material-icons {
                            color: $primary--color;
                        }
                    }
                }
                .inline__divider {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 8px;
                    height: 20px;
                    width: 1px;
                    background: #919191;
                }
                .inline__input-link {
                    .link__component {
                        display: block;
                        position: relative;
                        padding: 2px 32px 2px 12px;
                        background: #333;
                        @include border-radius(4px);
                        .link__textbox {
                            display: block;
                            height: 33px;
                            width: 100%;
                            font-family: 'Open Sans', sans-serif;
                            font-size: 1.25rem;
                            color: #fff;
                            border: 0;
                            outline: 0;
                            background: #333;
                            &::-webkit-input-placeholder {
                                color: #777;
                            }
                            &::-moz-placeholder {
                                color: #777;
                            }
                            :-ms-input-placeholder {
                                color: #777;
                            }
                            :-moz-placeholder {
                                color: #777;
                            }
                        }
                        .link__close {
                            display: block;
                            position: absolute;
                            top: 0;
                            right: 0;
                            z-index: 1;
                            margin: 0;
                            padding: 0;
                            width: 38px;
                            height: 100%;
                            border: 0;
                            outline: 0;
                            background: none;
                            .material-icons {
                                font-size: 20px;
                                color: #fff;
                            }
                        }
                    }
                }
            }
            &.-is-input-open {
                margin-left: -53.5px;
                min-width: 213px;
                .inline__content {
                    min-width: 213px;
                }
            }
        }
    }

    /* toolbar: mobile */
    .text-editor--toolbar-mobile {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 20;
        width: 100%;
        height: 40px;
        background: #333;
        .mobile__button {
            display: block;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 40px;
            border: 0;
            outline: 0;
            background: none;
            .material-icons {
                display: block;
                color: #fff;
            }
            &.-is-active {
                .material-icons {
                    color: $primary--color;
                }
            }
            &.-is-disabled {
                .material-icons {
                    color: $text--color--secondary;
                }
            }
        }
    }

    /* block: title */
    .block--title {
        font-size: 3.4rem;
        font-weight: normal;
        line-height: 1.5;
    }

    /* block: heading */
    .block--heading {
        margin-bottom: 16px;
        &.type--h2 {
            font-size: 2.4rem;
            line-height: 1.45;
        }
        &.type--h3 {
            font-size: 2rem;
            line-height: 1.45;
        }
    }

    /* block: paragraph */
    .block--paragraph {
        font-weight: normal;
        font-size: 1.725rem;
        line-height: 1.825;
    }

    /*block: list */
    .block--list {
        font-weight: normal;
        font-size: 1.725rem;
        line-height: 1.825;
        .list__item {
            margin: 8px 0;
        }
    }

    /* block: blockquote */
    .block--blockquote {
        font-style: italic;
        font-size: 2.4rem;
        line-height: 1.825;
        .blockquote__content {
            display: block;
            padding: 0 40px;
        }
    }

    /* block: blockcode */
    .block--blockcode {
        .blockcode__content {
            display: block;
            padding: 24px;
            font-size: 1.55rem;
            font-family: 'Courier New', Courier, monospace;
            background: #f5f5f5;
            @include border-radius(2px);
        }
    }

    /* block: image */
    .block--image {
        margin-bottom: 16px;
        .block--container {
            .image__focused {
                display: none;
                width: auto;
                height: auto;
            }
            &.-fullscreen {
                &:hover {
                    .image__focused {
                        left: 0;
                        right: 0;
                    }
                }
            }
            &.-left {
                .block__transform {
                    position: relative;
                    z-index: 3;
                }
                .image__content {
                    margin-left: -140px;
                    margin-right: 32px;
                    margin-bottom: 16px;
                    width: 400px;
                    float: left;
                    .content__container {
                        z-index: 15;
                    }
                }
                .image__focused {
                    bottom: auto;
                    margin-left: -140px;
                    width: 408px;
                    height: auto;
                }
            }
            &:hover {
                .image__focused {
                    display: block;
                    z-index: 0;
                    top: -4px;
                    left: -4px;
                    right: -4px;
                    bottom: -4px;
                    border: 4px solid $primary--color;
                    @include opacity(.7);
                    transition: border-color .2s;
                    -webkit-transition: border-color .2s;
                }
            }
        }
        &.-is-selected {
            .block--container {
                .image__focused {
                    display: block;
                    z-index: 0;
                    top: -4px;
                    left: -4px;
                    right: -4px;
                    bottom: -4px;
                    border: 4px solid $primary--color;
                    @include opacity(1);
                }
                &.-fullscreen {
                    .image__focused {
                        left: 0;
                        right: 0;
                    }
                }
            }
        }
        .image__content {
            display: block;
            position: relative;
            .content__container {
                z-index: 1;
                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
            .content__ratio {
                display: block;
            }
        }
    }

    /* block: caption */
    .block--caption {
        margin-bottom: 48px;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.425rem;
        font-weight: normal;
        color: $text--color--secondary;
        line-height: 1.5;
        text-align: center;
        .caption__text {
            display: block;
            position: relative;
            text-align: center;
            .text__label {
                display: block;
                position: relative;
                z-index: 2;
            }
        }
        .caption__placeholder {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            width: 100%;
            height: 100%;
            color: #bababa;
        }
        .block--container {
            &.-left {
                .caption__text {
                    margin-left: -140px;
                    margin-right: 32px;
                    margin-bottom: 32px;
                    width: 400px;
                    float: left;
                    clear: both;
                }
            }
        }
    }

    /* block: separator */
    .block--separator {
        display: block;
        position: relative;
        margin: 64px 0;
        .separator__wrap {
            display: block;
            font-size: 0;
            line-height: 0;
            text-align: center;
        }
        .separator__bullet {
            display: inline-block;
            margin: 0 12px;
            width: 4px;
            height: 4px;
            background: rgba(0,0,0,.68);
            @include border-radius(100%);
        }
        &.-is-selected {
            .separator__bullet {
                background: $primary--color;
            }
        }
    }

    /* block: embed-post video */
    .block--video {
        &.video--youtube {
            display: block;
            position: relative;
            cursor: pointer;
            .block--container {
                .video__focused {
                    display: none;
                    width: auto;
                    height: auto;
                }
                &:hover {
                    .video__focused {
                        display: block;
                        z-index: 0;
                        top: -4px;
                        left: -4px;
                        right: -4px;
                        bottom: -4px;
                        border: 4px solid $primary--color;
                        @include opacity(.7);
                        transition: border-color .2s;
                        -webkit-transition: border-color .2s;
                    }
                }
                &.-fullscreen {
                    &:hover {
                        .video__focused {
                            left: 0;
                            right: 0;
                        }
                    }
                }
            }
            .video__thumbnail {
                display: block;
                position: relative;
                padding: 25px 0 56.25%;
                height: 0;
                overflow: inherit;
                iframe {
                    z-index: 1;
                }
                .video__overlay {
                    z-index: 2;
                }
            }
            &.-is-selected {
                .block--container {
                    .video__focused {
                        display: block;
                        z-index: 0;
                        top: -4px;
                        left: -4px;
                        right: -4px;
                        bottom: -4px;
                        border: 4px solid $primary--color;
                        @include opacity(1);
                    }
                    &.-fullscreen {
                        .video__focused {
                            left: 0;
                            right: 0;
                        }
                    }
                }
            }
        }
    }

    /* block: embed-link */
    .block--embed-link {
        .block--container {
            &:hover {
                .link__focused {
                    display: block;
                    border: 3px solid $primary--color;
                    @include border-radius(4px);
                    @include opacity(.6);
                }
            }
        }
        &.-is-selected {
            .block--container {
                .link__focused {
                    display: block;
                    border: 3px solid $primary--color;
                    @include border-radius(4px);
                    @include opacity(1);
                }
            }
        }
        .link__focused {
            cursor: pointer;
        }
        .link__card {
            overflow: hidden;
        }
        .link__thumbnail {
            display: block;
            margin-right: 8px;
            width: 128px;
            height: 128px;
            background-color: #f5f5f5;
        }
        .link__metadata-placeholder {
            display: block;
            padding: 16px 24px 16px 16px;
            .placeholder__title {
                display: block;
                max-width: 100px;
                height: 21px;
                background: #f5f5f5;
            }
            .placeholder__description {
                display: block;
                margin-top: 4px;
                height: 18px;
                background: #f5f5f5;
            }
            .placeholder__domain {
                display: block;
                margin-top: 8px;
                max-width: 200px;
                height: 18px;
                background: #f5f5f5;
            }
        }
        .link__metadata {
            display: block;
            position: relative;
            padding: 16px 24px 16px 16px;
            font-family: 'Open Sans', sans-serif;
            .metadata__title {
                display: block;
                display: -webkit-box;
                margin: 0;
                padding: 0;
                height: 21px;
                font-size: 1.45rem;
                line-height: 1.4;
                @include line-clamp(1);
            }
            .metadata__description {
                display: block;
                display: -webkit-box;
                margin-top: 4px;
                max-height: 36px;
                font-size: 1.3rem;
                line-height: 1.4;
                @include line-clamp(2);
            }
            .metadata__domain {
                display: block;
                display: -webkit-box;
                margin-top: 8px;
                height: 18px;
                font-size: 1.3rem;
                color: $text--color--secondary;
                line-height: 1.4;
                @include line-clamp(1);
            }
        }
    }

    /* is mobile */
    &.mobile--version {
        padding-top: 64px;
        .text-editor--toolbar-mobile {
            position: fixed;
            top: 80px;
            bottom: 0;
            background: #fff;
            @include border('bottom');
            .mobile__button {
                .material-icons {
                    color: $text--color;
                }
                &.-is-active {
                    .material-icons {
                        color: $primary--color;
                    }
                }
                &.-is-disabled {
                    .material-icons {
                        color: $text--color--secondary;
                    }
                }
            }
        }
    }
}